body {
  background: #006206;
}

#flashContent {
  padding-top: 80px;
  width: 800px;
  margin: 0 auto;
}

#video-container {
  display: none;

  img {
    margin: 0 auto;
  }
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
  #video-container {
    margin-top: 20%;
    display: block;
  }
  #flash-container {
    display: none;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
  #video-container {
    margin-top: 20%;
    display: block;
  }
  #flash-container {
    display: none;
  }

}

