#flash-container
  %h1 FLASH STUFF HERE FOR DESKTOP
-##video-container
  -#%iframe{width: '100%', height: '100%;', :frameborder => "0", :src => "https://youtube.com/embed/7L2p30Ye2SI?autoplay=1&controls=0&showinfo=0&autohide=1" }
#video-container{:style => "position: fixed; z-index: -99; width: 100%; height: 100%"}
  = image_tag 'christmas_default_image.png'
  -#%iframe{:frameborder => "0", :src => "https://youtube.com/embed/7L2p30Ye2SI/?autoplay=0&controls=0&showinfo=0&autohide=1"}
